<!DOCTYPE html>
<style>
.hidden_section {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  margin-bottom: 40px;
}
.hidden_section_active {
  display: flex;
}
.hidden_section h3 {
  display: inline-block;
  width: auto;
  border-bottom: 2px solid #C6C4C8;
}
.hidden_section .edit_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
}
.add_button {
  background: var(--green);
}
.remove_button {
  background: var(--red);
}
.edit_button {
  background: var(--navy);
}
#locations_accounts_table {
  table-layout: auto;
}

</style>
