<!DOCTYPE html>
<style>
.hidden_section {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  margin-bottom: 40px;
  border-bottom: 2px solid #C6C4C8;
}
.hidden_section form {
  width: 45%;
  min-width: 600px;
  max-width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.hidden_section_active {
  display: flex;
}
.hidden_section h3 {
  display: inline-block;
  width: auto;
  border-bottom: 2px solid #C6C4C8;
  margin-bottom: 16px;
}
.hidden_section .edit_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
}
.add_button {
  background: var(--white);
}
.edit_button {
  background: var(--navy);
}
.input_area form {
  width: auto;
  max-width: 1000px;
}
.input_area .input_wrapper {
  grid-template-columns: 30% 40% 30%;
}
.capitalize {
  text-transform: capitalize;
}
.input_area .submit_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 40% 30%;
  margin: 16px 0px;
}
.input_area .submit_button {
  grid-area: 1 / 2 / 2 / 3;
  padding: 0;
  margin: -2px -2px 0px 0px;
  border: 2px solid var(--light-grey);
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  height: 26px;
  transition: 200ms;
}
.input_area .submit_button:hover {
  background: #32de84;
  border: #32de84;
}
.input_area .remove_button:hover {
  background: #fa1140;
  border: #fa1140;
}
.input_area .radio_input_area {
  margin: 0px;
  grid-template-columns: 100%;
}
.input_area .radio_input_area {
  grid-template-columns: 30% 40% 30%;
}

@media screen and (max-width: 1400px) {
  #locations_edit_section form {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 1200px) {
  #locations_edit_section .submit_wrapper {
    margin: 0px 16px 0px auto;
  }
  #locations_edit_section .input_wrapper {
    grid-template-columns: 30% 50% 20%;
  }
}
</style>
