<!DOCTYPE html>
<style>
.hidden_section {
  width: 100%;
  height: auto;
  display: none;
  flex-direction: column;
  margin-bottom: 40px;
  border-bottom: 2px solid #C6C4C8;
}
.hidden_section form {
  width: 45%;
  min-width: 600px;
  max-width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.hidden_section_active {
  display: flex;
}
.hidden_section h3 {
  display: inline-block;
  width: auto;
  border-bottom: 2px solid #C6C4C8;
  margin-bottom: 16px;
}
.hidden_section .edit_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px;
}
.add_button {
  background: var(--white);
}
.remove_button {
  background: var(--red);
}
.edit_button {
  background: var(--navy);
}
#locations_edit_section form {
  width: auto;
  max-width: 1000px;
}
#locations_edit_section .text_input_area {
  grid-template-columns: 30% 40% 30%;
}
#locations_edit_section .submit_wrapper {
  margin: 0px auto 0px 16px;
  max-height: 24px;
  width: 80px;
}
#locations_edit_section .submit_wrapper input {
  height: 24px;
}
#locations_edit_section .radio_input_area {
  margin: 0px;
  grid-template-columns: 100%;
}
#locations_edit_section .radio_input_area {
  grid-template-columns: 30% 40% 30%;
}

@media screen and (max-width: 1400px) {
  #locations_edit_section form {
    width: 100%;
    max-width: none;
  }
}
@media screen and (max-width: 1200px) {
  #locations_edit_section .submit_wrapper {
    margin: 0px 16px 0px auto;
  }
  #locations_edit_section .text_input_area {
    grid-template-columns: 30% 50% 20%;
  }
}
</style>
