<!DOCTYPE html>
<style>
body {
  height: 100%;
  width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
}

.main {
  width: 100%;
  height: 150vh;
  background: var(--white);
  transition: width 300ms linear;
}
.main_section {
  width: 96%;
  padding: 20px 2% 0px 2%;
  height: auto;
  min-height: 200px;
  display: none;
}
.main_section_active {
  display: block;
}

#sidebar {
  position: sticky;
  top: 140px;
  width: 300px;
  height: calc(100vh - 140px);
  background: var(--sidebar_color);
  z-index: 1;
  display: block;
  transition: width 200ms linear, background 200ms linear;
  box-shadow: 0 -6px 10px 5px rgb(0 0 0 / 30%);
}
#sidebar label {
  width: 100%;
  height: 48px;
  background: var(--navy);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--white);
  border: none;
  cursor: pointer;
}
#sidebar label .left_arrow {
  transform: scale(1.5) rotate(135deg);
}
#sidebar_toggle:checked ~ label .left_arrow {
  transform: scale(1.5) rotate(-45deg);
  transition: 200ms;
}
#sidebar_contents {
  padding: 0px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  background: rgba(55,71,79,0.3);
  transition: opacity 200ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar_contents .sidebar_button {
  width: 100%;
  padding: 4px 0px;
  height: auto;
  display: block;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  background: rgba(0,0,0,0.0);
  transition: background 100ms;
}
#sidebar_contents .sidebar_button_active {
  background: rgba(0,0,0,0.3);
}
#sidebar_contents .sidebar_button:hover {
  background: rgba(0,0,0,0.3);
}
</style>
