<!DOCTYPE html>
<style>
body {
  height: 100%;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.main {
  width: 100%;
  height: 150vh;
  background: var(--white);
  transition: width 300ms linear;
}
.main_section {
  width: 96%;
  padding: 20px 2% 0px 2%;
  height: auto;
  min-height: 200px;
  display: none;
}
.main_section_active {
  display: block;
}
.title {
  text-transform: capitalize;
  margin-bottom: 40px;
}

#sidebar {
  position: sticky;
  top: 120px;
  width: 300px;
  min-width: 300px;
  height: calc(100vh - 120px);
  background: url('../../images/poly1.png');
  background-size: cover;
  z-index: 1;
  display: block;
  transition: width 200ms linear, background 200ms linear;
  box-shadow: 0 -6px 10px 5px rgb(0 0 0 / 30%);
}
#sidebar container {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(4px);
}
#sidebar label {
  width: 100%;
  height: 48px;
  background: rgba(0,0,0,0.3);
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: var(--white);
  border: none;
  cursor: pointer;
}
#sidebar label .left_arrow {
  transform: scale(1.5) rotate(135deg);
  margin: auto 24px auto auto;
}
#sidebar_toggle:checked ~ label .left_arrow {
  transform: scale(1.5) rotate(-45deg);
  transition: 200ms;
}
#sidebar_contents_container {
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar_contents {
  padding: 0px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  transition: opacity 200ms linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar_contents spacer {
  width: 100%;
  padding: 4px 0px;
  height: 20px;
  display: block;
  cursor: default;
  background: rgba(0,0,0,0.0);
}
#sidebar_contents hr {
  display: block;
  width: 100%;
  height: 3px;
  border: 0;
  background: rgba(0,0,0,0.15);
  margin: 8px 0px;
}
#sidebar_contents button {
  border: none;
}
#sidebar_contents button:last-child {
  margin-bottom: 40px;
}
#sidebar_contents .sidebar_subtitle {
  width: 100%;
  padding: 4px 0px;
  height: auto;
  display: block;
  text-align: left;
  color: var(--white);
  cursor: default;
  background: rgba(0,0,0,0.0);
}
#sidebar_contents .sidebar_subtitle * {
  margin-left: 16px;
}
#sidebar_contents .sidebar_button {
  width: 100%;
  padding: 4px 0px;
  height: auto;
  display: block;
  text-align: left;
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
  background: rgba(0,0,0,0.0);
  transition: color 100ms;
}
#sidebar_contents .sidebar_button * {
  margin-left: 32px;
}
#sidebar_contents .sidebar_button_active {
  color: var(--grey);
}
#sidebar_contents .sidebar_button:hover {
  background: rgba(0,0,0,0.2);
}

.table_wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 60px 60px 30px 30px;
  box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
  margin-bottom: 40px;
}
.table_wrapper header {
  width: 100%;
  min-height: 60px;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 60px 60px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.table_wrapper header .button_wrapper {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 120px;
  grid-auto-columns: 60px;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-column-gap: 16px;
  margin: auto 60px auto auto;
}
.table_wrapper header button {
  height: 100%;
  width: 100%;
  padding: 4px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: color 100ms;
  color: black;
}
.table_wrapper header button:hover {
  color: var(--grey);
}
.table_wrapper footer {
  width: 100%;
  min-height: 30px;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 0px 0px 60px 60px;
}
.table_wrapper footer, header {
  background-color: #2D3A43;
}
.table_wrapper header h2 {
  font-size: 32px;
  letter-spacing: 4px;
  color: var(--white);
  margin-left: 60px;
}
.table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}
.table td, .table th {
  padding: 8px;
}
.has_edit th:last-of-type {
  width: 60px;
}
.table tr:nth-child(even){
  background-color: #DDDDDD;
}
.table tr:hover {
  background-color: rgba(0,0,0,0.2);
}
.table tr:hover button {
  display: block;
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3C4D5A;
  color: white;
}
.table button {
  margin: 0px;
  width: 100%;
  padding: 2px;
  height: auto;
  border: none;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  display: none;
}

.input_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 35% 65%;
  margin: 16px 0px;
}
.input_wrapper * {
  width: 100%;
  height: 100%;
}
.input_wrapper label {
  grid-area: 1 / 1 / 2 / 2;
  text-align: left;
}
.input_wrapper input {
  padding: 0px;
  margin: -2px -2px 0px 0px;
  border: 2px solid #C6C4C8;
  border-radius: 4px;
  font-size: 16px;
}
.input_wrapper textarea {
  padding: 0px;
  margin: -2px -2px 0px 0px;
  border: 2px solid #C6C4C8;
  border-radius: 4px;
  resize: none;
  font-size: 16px;
}
.input_wrapper input[type="time"] {
  width: 40%;
}
.input_wrapper input[type="number"] {
  width: 15%;
}
.boolean_radio {
  max-width: 50%;
}
.radio_input_area {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 35% 65%;
  margin: 16px 0px;
}
.radio_input_area .radio_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.radio_input_area .radio_wrapper label {
  margin: auto auto auto 8px;
}
.checkbox_input_area {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30% 40% 30%;
  margin: 16px 0px;
}
.checkbox_wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20px 1fr;
  grid-auto-flow: row;
  grid-row-gap: 16px;
}
.checkbox_wrapper input[type="checkbox"] {
  width: 20px;
  cursor: default;
}
.checkbox_wrapper label {
  display: flex;
  align-items: center;
}
.checkbox_wrapper label h5 {
  margin: auto auto auto 8px;
}
.submit_wrapper input {
  width: 200px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid #C6C4C8;
}
.range_wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
.range_wrapper input[type="range"] {
  width: 100%;
}
.range_wrapper output {
  width: auto;
  height: 100%;
  padding: 0px 0px 0px 16px;
  margin-left: auto;
}
.input_spacer {
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  height: 16px;
  width: 100%;
}

.inline-dot {
  height: 12px;
  width: 12px;
  background-color: none;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}
.green {
  background-color: #96d42b;
}
.orange {
  background-color: #fbca04;
}
.red {
  background-color: #ff3333;
}
.blue {
  background-color: #75c9f0;
}
.info_wrapper {
  width: 100%;
  height: auto;
  margin: 8px 0px;;
}
spacer {
  height: 32px;
  width: 100%;
  display: block;
  background: none;
}

@media screen and (max-width: 1400px), (max-height: 800px) {
  #main_header {
    min-height: 80px;
  }
  #main_header img {
    width: 65px;
    height: 60px;
    margin: 10px 0px 10px 10px;
  }
  #main_header h5 {
    font-size: 16px;
  }
  #main_header h1 {
    font-size: 20px;;
  }
  #main_header .blue_button {
    height: 32px;
    border-radius: 12px;
  }
  navbar {
    padding: 0px 20px 0px 0px;
  }
  #sidebar {
    height: calc(100vh - 80px);
    top: 80px;
  }
}
</style>
